/venv/
/.idea/modules.xml
/.idea/dailyprog.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/workspace.xml
/.idea/.gitignore
